## Importing required libraries

In [46]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from pandas_profiling import ProfileReport
import re 
import warnings
warnings.filterwarnings("ignore")

## Loading and viewing data

In [47]:
imdb_movies = pd.read_csv('Data/movies_metadata.csv')
imdb_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [48]:
ratings= pd.read_csv('Data/title.ratings.tsv',delimiter="\t")
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1647
1  tt0000002            6.1       198
2  tt0000003            6.5      1348
3  tt0000004            6.2       120
4  tt0000005            6.2      2134

In [49]:
all_movie = imdb_movies.merge(ratings,how='left',left_on='imdb_id',right_on='tconst')
all_movie

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,tconst,averageRating,numVotes
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,tt0114709,8.3,867115.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,tt0113497,7.0,300094.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,tt0113228,6.7,23789.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,tt0114885,5.9,9379.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,tt0113041,6.1,33667.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,tt6209470,6.1,1570.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,tt2028550,7.1,193.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,tt0303758,4.3,858.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,[],Released,NaN,Satan Triumphant,False,0.0,0.0,tt0008536,6.9,147.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,tt6980792,6.4,162.0

## Explantory Data Analysis

In [50]:
# Extract the columns of interest and replace the NaN with blank string

movies_data = all_movie[['title','genres','overview','production_companies','original_language','status','averageRating','numVotes']].replace(np.nan, '', regex=True)

## Data Cleaning

In [51]:
#Remove movies with less than 5 imdb rating and langauges other than english and hindi

#First replace Empty values "" with 0
movies_data['averageRating']=movies_data['averageRating'].replace("",0)

#movies with rating more than 5 will be included in the list
movie_more5 = movies_data[movies_data['averageRating']>7]

#Only released movies to be included in the list
movie_rel = movie_more5[movie_more5['status']=='Released']

#Convert the title to lowercase
movie_rel['title'] = movie_rel['title'].str.lower()

#Select the major languages
movie_lang = movie_rel[movie_rel['original_language'].isin(['en','ja','it','de','es','ru','ko','hi'])== True]

#Select movies with more than 500 vote counts
movie_vote = movie_lang[movie_lang['numVotes']>10000]

#Reset index after removal of rows
movie_dataset = movie_vote.reset_index().drop(columns='index',axis=1)

In [52]:
movie_dataset

,title,genres,overview,production_companies,original_language,status,averageRating,numVotes
0,toy story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",en,Released,8.3,867115
1,heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","Obsessive master thief, Neil McCauley leads a ...","[{'name': 'Regency Enterprises', 'id': 508}, {...",en,Released,8.2,564175
2,goldeneye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",James Bond must unmask the mysterious head of ...,"[{'name': 'United Artists', 'id': 60}, {'name'...",en,Released,7.2,235120
3,balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",An outcast half-wolf risks his life to prevent...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",en,Released,7.1,39026
4,nixon,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",An all-star cast powers this epic look at Amer...,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...",en,Released,7.1,28373
...,...,...,...,...,...,...,...,...
2806,the keepers,"[{'id': 80, 'name': 'Crime'}, {'id': 99, 'name...",A seven-part docuseries about the unsolved mur...,"[{'name': 'Netflix', 'id': 59811}, {'name': 'F...",en,Released,8.1,17207
2807,what the health,"[{'id': 99, 'name': 'Documentary'}]",What the Health is a ground breaking feature l...,"[{'name': 'Spark Media', 'id': 10081}]",en,Released,7.4,26366
2808,wind river,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",An FBI agent teams with the town's veteran gam...,"[{'name': 'Thunder Road Pictures', 'id': 3528}...",en,Released,7.7,196301
2809,shot caller,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",A newly-released prison gangster is forced by ...,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",en,Released,7.3,69039
2810,detroit,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",A police raid in Detroit in 1967 results in on...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",en,Released,7.3,46521

In [53]:
#Define a function to combine all strings

def combine_features(row):
    try:
        return row['title'] +2*(" "+row["genres"])+" "+row["overview"]+" "+row["production_companies"]+3*(" "+row["original_language"])
    except:
        print("Error:",row)

In [54]:
#Combine title, genre, overview and production companies
#Thus a user will be recommended movies that are similar in genre, overiew and production company

movie_dataset["combined_features"] = movie_dataset.apply(combine_features,axis=1)

#Convert the string to lower case
movie_dataset["combined_features"]= movie_dataset["combined_features"].str.lower()

#Lets view one of the combine feature
movie_dataset["combined_features"][0]

"toy story [{'id': 16, 'name': 'animation'}, {'id': 35, 'name': 'comedy'}, {'id': 10751, 'name': 'family'}] [{'id': 16, 'name': 'animation'}, {'id': 35, 'name': 'comedy'}, {'id': 10751, 'name': 'family'}] led by woody, andy's toys live happily in his room until andy's birthday brings buzz lightyear onto the scene. afraid of losing his place in andy's heart, woody plots against buzz. but when circumstances separate buzz and woody from their owner, the duo eventually learns to put aside their differences. [{'name': 'pixar animation studios', 'id': 3}] en en en"

In [55]:
#Lets remove the unwanted parentheses, id, name, punctuation

movie_dataset.astype(str)['combined_features'].map(lambda x:  type(x))

replace_val = ["{'id'","'name':","'},","[","]","'",",","}]","{","}",".",":","'",'[0-9]','id','--']

for i in replace_val:
  movie_dataset["combined_features"] = movie_dataset["combined_features"].str.replace(i, '')

for i in range(len(movie_dataset)):
    movie_dataset["combined_features"][i] = re.sub(' +', ' ', movie_dataset["combined_features"][i]) 

movie_dataset["combined_features"][0]

'toy story animation comedy family animation comedy family led by woody andys toys live happily in his room until andys birthday brings buzz lightyear onto the scene afra of losing his place in andys heart woody plots against buzz but when circumstances separate buzz and woody from their owner the duo eventually learns to put ase their differences pixar animation studios en en en'

In [56]:
#Copy movie dataset to df
df= movie_dataset.copy(deep=True)

#Create a column named index
df['index'] = df.index

## Save the Pre=processed dataset

In [57]:
df

,title,genres,overview,production_companies,original_language,status,averageRating,numVotes,combined_features,index
0,toy story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",en,Released,8.3,867115,toy story animation comedy family animation co...,0
1,heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","Obsessive master thief, Neil McCauley leads a ...","[{'name': 'Regency Enterprises', 'id': 508}, {...",en,Released,8.2,564175,heat action crime drama thriller action crime ...,1
2,goldeneye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",James Bond must unmask the mysterious head of ...,"[{'name': 'United Artists', 'id': 60}, {'name'...",en,Released,7.2,235120,goldeneye adventure action thriller adventure ...,2
3,balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",An outcast half-wolf risks his life to prevent...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",en,Released,7.1,39026,balto family animation adventure family animat...,3
4,nixon,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",An all-star cast powers this epic look at Amer...,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...",en,Released,7.1,28373,nixon history drama history drama an all-star ...,4
...,...,...,...,...,...,...,...,...,...,...
2806,the keepers,"[{'id': 80, 'name': 'Crime'}, {'id': 99, 'name...",A seven-part docuseries about the unsolved mur...,"[{'name': 'Netflix', 'id': 59811}, {'name': 'F...",en,Released,8.1,17207,the keepers crime documentary drama crime docu...,2806
2807,what the health,"[{'id': 99, 'name': 'Documentary'}]",What the Health is a ground breaking feature l...,"[{'name': 'Spark Media', 'id': 10081}]",en,Released,7.4,26366,what the health documentary documentary what t...,2807
2808,wind river,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",An FBI agent teams with the town's veteran gam...,"[{'name': 'Thunder Road Pictures', 'id': 3528}...",en,Released,7.7,196301,wind river action crime mystery thriller actio...,2808
2809,shot caller,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",A newly-released prison gangster is forced by ...,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",en,Released,7.3,69039,shot caller drama crime thriller drama crime t...,2809
2810,detroit,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",A police raid in Detroit in 1967 results in on...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",en,Released,7.3,46521,detroit thriller crime drama history thriller ...,2810

In [58]:
df.to_csv("Appdata/Movie_dataset.csv")

## Create model and predict

In [18]:
#Create count matrix from this new combined column

cv = CountVectorizer()

count_matrix = cv.fit_transform(df["combined_features"])

#Compute the Cosine Similarity based on the count_matrix

cosine_sim = cosine_similarity(count_matrix) 
movie_user_likes = "heat"

In [19]:
#Helper functions to obtain index of movie from its title

def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]

def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [20]:
#Get index of this movie from its title

movie_index = df[df.title == movie_user_likes]["index"].values[0]

similar_movies =  list(enumerate(cosine_sim[movie_index]))


#Get a list of similar movies in descending order of similarity score

sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)

# Print titles of first 5 movies
i=0
for element in sorted_similar_movies:
    if df[df.index == element[0]]["title"].values[0]==movie_user_likes:
        pass
    else:
        print(df[df.index == element[0]]["title"].values[0],element[1])
    i=i+1
    if i>5:
        break

the way of the gun 0.5492301703919119
mystic river 0.5249179879710688
the iceman 0.523966186665859
a most violent year 0.5123183204211359
the falcon and the snowman 0.5085815349770862

In [21]:
sorted_similar_movies

[(4, 0.9999999999999989),
 (1578, 0.5492301703919119),
 (2368, 0.5249179879710688),
 (4532, 0.523966186665859),
 (5005, 0.5123183204211359),
 (1302, 0.5085815349770862),
 (2099, 0.5070068446386043),
 (5191, 0.5037527684340762),
 (3353, 0.5034091834662193),
 (5552, 0.4981063798384225),
 (1537, 0.49651012754757007),
 (3340, 0.49167934822937776),
 (645, 0.49121208482669276),
 (2343, 0.4903743699767512),
 (1731, 0.4893273992174107),
 (2867, 0.48457091858307627),
 (3530, 0.48414918576289884),
 (4530, 0.4802023527384059),
 (5622, 0.479229497931825),
 (5499, 0.47863877241182545),
 (365, 0.4786111046310913),
 (4892, 0.47562067037851796),
 (5264, 0.47537602972796417),
 (1332, 0.47469081480608694),
 (4363, 0.47223967355395985),
 (1128, 0.47222472623567385),
 (5190, 0.47212637681750097),
 (1113, 0.4718902545837686),
 (678, 0.470700597269485),
 (756, 0.470700597269485),
 (1813, 0.4702916479331402),
 (4997, 0.47011185332766847),
 (4440, 0.4697817809641511),
 (2778, 0.4683850630866784),
 (2590, 0.46836501111382334),
 (1403, 0.4681930294365352),
 (5428, 0.4680063181279425),
 (2638, 0.4679145337941633),
 (3781, 0.46735095400120474),
 (1389, 0.4666208946218855),
 (80, 0.46652589819560086),
 (348, 0.46556694182425334),
 (2898, 0.4655669418242533),
 (5546, 0.4653468743366931),
 (4182, 0.4648604746895935),
 (1785, 0.464685400122664),
 (494, 0.46465049155482574),
 (1594, 0.4642167309160537),
 (459, 0.46336869465337643),
 (2341, 0.463001815185995),
 (948, 0.46254496773839104),
 (71, 0.462544967738391),
 (693, 0.4624277513078463),
 (598, 0.4621803782212784),
 (3549, 0.4615825161810035),
 (26, 0.4613165510098686),
 (5219, 0.46115689827935274),
 (205, 0.4607898270915297),
 (2153, 0.4602155976653538),
 (1112, 0.46011216995900905),
 (810, 0.45985424766145266),
 (3525, 0.45985424766145266),
 (2510, 0.4596919283828934),
 (3421, 0.45878219195644176),
 (2259, 0.45808962864694736),
 (4916, 0.45789779808925757),
 (4703, 0.4572440977732283),
 (3409, 0.4570868654148338),
 (842, 0.4569414742573886),
 (3974, 0.45690577431012863),
 (4309, 0.4567055726029167),
 (2422, 0.4564388498414542),
 (1832, 0.4560444997001908),
 (1739, 0.4559646697593232),
 (120, 0.4559646697593231),
 (409, 0.4559208501763321),
 (2012, 0.4559038866263783),
 (1393, 0.45557659105951326),
 (5649, 0.45523941930858036),
 (176, 0.4547068337912343),
 (3166, 0.45470683379123417),
 (5478, 0.4546382378602697),
 (5029, 0.45459231248636),
 (5666, 0.4544128377473329),
 (604, 0.4536480327727563),
 (1638, 0.45337749159066865),
 (3801, 0.4531345405177877),
 (3092, 0.45283085482493973),
 (4038, 0.45282051657499667),
 (2361, 0.4527319184695382),
 (4288, 0.45240412980502875),
 (3153, 0.4523489810738888),
 (167, 0.4519651591089274),
 (2405, 0.45099664809602846),
 (704, 0.4507101550456716),
 (3582, 0.4504870144710027),
 (3085, 0.45043310050373386),
 (2579, 0.4500098125316945),
 (2678, 0.4500040909648769),
 (273, 0.44911387428502203),
 (2819, 0.4490211904298961),
 (1021, 0.44892394330199326),
 (3176, 0.4487238491360864),
 (474, 0.4486569158411565),
 (5087, 0.4485983348307343),
 (4019, 0.4485200579766259),
 (4081, 0.4485200579766259),
 (3558, 0.44844455626734847),
 (4095, 0.44836472635015745),
 (2351, 0.44803297290010907),
 (5185, 0.4469544317490683),
 (1459, 0.44683986537311465),
 (3162, 0.4467295209177038),
 (3670, 0.4465132467561503),
 (1782, 0.4457948817970465),
 (4402, 0.4451671427429351),
 (2608, 0.44513405834299763),
 (196, 0.44500313507726785),
 (1890, 0.44500313507726785),
 (2178, 0.44500313507726785),
 (663, 0.4445351659078194),
 (1484, 0.4445351659078194),
 (2048, 0.44384500333298726),
 (4982, 0.4429408277854135),
 (4543, 0.44274086448093863),
 (4941, 0.4427246939568374),
 (1529, 0.4425791326529007),
 (1408, 0.44257913265290066),
 (502, 0.44234298547771445),
 (1378, 0.44200596712083456),
 (2798, 0.44200596712083456),
 (3769, 0.4419657170668312),
 (1384, 0.44162864304693833),
 (2835, 0.44139979311948196),
 (2222, 0.44126856083083177),
 (2768, 0.4411832950116527),
 (264, 0.44080722040303943),
 (958, 0.4408032275659304),
 (297, 0.4407483941635548),
 (2371, 0.4407483941635547),
 (2762, 0.44045278268074545),
 (3529, 0.4401981337503166),
 (2995, 0.4400399313611101),
 (879, 0.43998333822456825),
 (3341, 0.43998333822456825),
 (5667, 0.43996089410293127),
 (529, 0.4399608941029312),
 (1180, 0.4399608941029312),
 (2232, 0.4399608941029312),
 (3196, 0.4396958502818979),
 (1924, 0.43944326677296425),
 (976, 0.43921474230026725),
 (145, 0.43894072221361646),
 (921, 0.4385627465470256),
 (1535, 0.4384635294061157),
 (3512, 0.43842691253182847),
 (3460, 0.4380766846134399),
 (72, 0.43804160114980933),
 (1684, 0.4376677311613232),
 (3999, 0.43746016266443305),
 (593, 0.43737988651909754),
 (3865, 0.43729228338879994),
 (1957, 0.4371436128733186),
 (4891, 0.4368681949052816),
 (2490, 0.4364898557030181),
 (1114, 0.4364010619772977),
 (4706, 0.43639251546266195),
 (4207, 0.4362472021323718),
 (1725, 0.4362164779740954),
 (2451, 0.43619366032124995),
 (1677, 0.4360915777220389),
 (2782, 0.4359810650114994),
 (1807, 0.43574783942883893),
 (1732, 0.43563359868403806),
 (575, 0.4352390029520812),
 (2937, 0.4352390029520812),
 (2133, 0.4348198186085087),
 (4021, 0.43474525463323566),
 (2656, 0.4341802833034057),
 (169, 0.4341549688828784),
 (320, 0.43414341180885463),
 (1814, 0.43392420526089726),
 (2552, 0.4338297251025463),
 (3949, 0.43365361385289836),
 (3152, 0.43365361385289825),
 (1897, 0.433548748011595),
 (4448, 0.43345730386854353),
 (784, 0.4329450595108191),
 (4754, 0.4328280315158412),
 (263, 0.43256606670178793),
 (4397, 0.4325660667017879),
 (1539, 0.4323524177222673),
 (641, 0.43235241772226723),
 (5209, 0.43235241772226723),
 (39, 0.432160027025422),
 (166, 0.432160027025422),
 (3019, 0.432160027025422),
 (1986, 0.4321106344854555),
 (1721, 0.4318917622127915),
 (2002, 0.43185588782430767),
 (2218, 0.4318029990080355),
 (3774, 0.4315221201817881),
 (1844, 0.43143915908899383),
 (2491, 0.4310938695906328),
 (2187, 0.43095082938062057),
 (4907, 0.43093231337256116),
 (3344, 0.4309323133725611),
 (2413, 0.430774895170643),
 (2417, 0.43077489517064294),
 (639, 0.4307748951706429),
 (568, 0.4306026885296737),
 (1300, 0.4305059130056896),
 (901, 0.43035483178924344),
 (416, 0.4303548317892434),
 (1138, 0.4298165516138684),
 (5028, 0.4295217291840433),
 (49, 0.4295000332594421),
 (1460, 0.42947726252144813),
 (4255, 0.4294496967400662),
 (916, 0.42906206574248057),
 (413, 0.4290057916172806),
 (5530, 0.4290057916172805),
 (5392, 0.4288216118006475),
 (917, 0.42870171416752806),
 (4418, 0.4285937424458389),
 (5651, 0.42859374244583887),
 (1342, 0.42855629726955186),
 (2173, 0.42855629726955186),
 (2750, 0.42824833440387855),
 (1397, 0.4281898531689648),
 (2568, 0.42814016161583524),
 (3192, 0.42812039632677085),
 (1338, 0.4279314654486141),
 (2319, 0.4278165999344126),
 (4009, 0.4271065059729061),
 (1396, 0.4270016117165545),
 (1538, 0.4270016117165545),
 (461, 0.4268320126353098),
 (3435, 0.4266287457967818),
 (1970, 0.42606683145695856),
 (552, 0.4258137904283862),
 (3300, 0.42574879557332873),
 (3792, 0.42574879557332873),
 (1837, 0.42571224904374744),
 (3756, 0.4256507973464799),
 (734, 0.4253716634604058),
 (1904, 0.4253716634604058),
 (4539, 0.42493360930991286),
 (4378, 0.42491373913575087),
 (2154, 0.42487616954846025),
 (2541, 0.42487616954846025),
 (2746, 0.42453755899216455),
 (3727, 0.4242263613778353),
 (4648, 0.4241085856986878),
 (3038, 0.4240837459884227),
 (1635, 0.4235168264849135),
 (1471, 0.4235051377071942),
 (4258, 0.42335256773872637),
 (4271, 0.42322195135810514),
 (10, 0.42301254955845813),
 (3273, 0.42299779682336525),
 (1303, 0.42285556373819916),
 (2508, 0.4226804123711341),
 (2916, 0.4226708636880845),
 (3309, 0.4226708636880845),
 (5632, 0.4224095377771143),
 (2670, 0.42217024760818894),
 (486, 0.422141256049335),
 (1034, 0.42214125604933495),
 (2753, 0.42207147486759533),
 (6, 0.4217505412005106),
 (606, 0.4217505412005106),
 (5391, 0.4217505412005106),
 (4964, 0.4217505412005105),
 (5476, 0.4217505412005105),
 (1643, 0.42174797192431623),
 (1656, 0.42174797192431623),
 (523, 0.4217206048676281),
 (1671, 0.4214218917472532),
 (3257, 0.4211459706693378),
 (2680, 0.4210202366851446),
 (5068, 0.4206121494501743),
 (583, 0.42051835004753235),
 (4767, 0.4201673008609622),
 (3132, 0.4201174402617269),
 (3534, 0.4201174402617268),
 (1282, 0.4200208634975124),
 (3115, 0.4200208634975124),
 (4496, 0.419749501638824),
 (3660, 0.4197432651805474),
 (5655, 0.4197011127399788),
 (4904, 0.4196801158210695),
 (3121, 0.41943157569626804),
 (3461, 0.419431575696268),
 (4516, 0.41940963205053566),
 (5214, 0.4193958759538397),
 (2151, 0.41928549409222166),
 (3269, 0.41917294933268723),
 (4268, 0.41917294933268723),
 (4710, 0.41917294933268723),
 (751, 0.4189363362829362),
 (1865, 0.4188302931176179),
 (240, 0.41880892586034735),
 (287, 0.4188089258603473),
 (186, 0.4187153808822677),
 (4681, 0.4187153808822677),
 (480, 0.41863794854117437),
 (632, 0.41863794854117437),
 (1443, 0.41863794854117437),
 (1827, 0.4185687693374398),
 (547, 0.4185254870351717),
 (4557, 0.41852548703517156),
 (1519, 0.418405565537678),
 (4100, 0.418405565537678),
 (4572, 0.418405565537678),
 (1033, 0.41840556553767794),
 (2814, 0.41840556553767794),
 (1102, 0.41816410804010173),
 (1365, 0.4180648641540381),
 (497, 0.41806486415403804),
 (3017, 0.41806486415403804),
 (3588, 0.41806486415403804),
 (4343, 0.417898522679528),
 (42, 0.4178235298685471),
 (695, 0.4174222373497418),
 (2804, 0.41742009011048786),
 (2611, 0.41740484439415815),
 (4282, 0.4174048443941581),
 (885, 0.4173047032808627),
 (1329, 0.41730470328086267),
 (2246, 0.4172765207128859),
 (4538, 0.4170959987400364),
 (1409, 0.41694266979446143),
 (1219, 0.4166892741199085),
 (1198, 0.41668927411990847),
 (2598, 0.4165986796468039),
 (4155, 0.4165539634249559),
 (1193, 0.4164201793717633),
 (5463, 0.41638501027932207),
 (3367, 0.4161680865812032),
 (2582, 0.4160894381657639),
 (305, 0.41600561611372666),
 (2487, 0.4160056161137266),
 (2020, 0.41592828933479914),
 (1374, 0.41559603395811295),
 (801, 0.4155932685077151),
 (4275, 0.4155090709870922),
 (2918, 0.4153688857364805),
 (2188, 0.4151050756839955),
 (3799, 0.4148736259444051),
 (3634, 0.4146896872849785),
 (597, 0.4145930425846),
 (212, 0.41451333614483915),
 (682, 0.41451333614483915),
 (1236, 0.41451333614483915),
 (3277, 0.4144012903700812),
 (2470, 0.4143744806697871),
 (3540, 0.41422595005046803),
 (4685, 0.41422595005046803),
 (2548, 0.41409508616871077),
 (978, 0.4140063987493695),
 (4561, 0.41396935515437516),
 (1892, 0.41387513201552995),
 (4512, 0.41387513201552995),
 (2290, 0.41382808252355857),
 (703, 0.4137958876835589),
 (595, 0.4136548333189106),
 (4025, 0.4136548333189106),
 (672, 0.41365483331891056),
 (462, 0.41354452476243725),
 (2255, 0.4134810276899819),
 (3757, 0.4133785809884868),
 (441, 0.4132965974906324),
 (449, 0.4132965974906324),
 (3918, 0.41329659749063236),
 (1398, 0.41328682307277326),
 (4477, 0.4132418433439101),
 (511, 0.41302265915984504),
 (4500, 0.4126370941476033),
 (398, 0.4126140668815262),
 (1451, 0.41254713659366826),
 (2972, 0.4125013359290424),
 (819, 0.41243556197726833),
 (1127, 0.41237113402061865),
 (3438, 0.4123602656622681),
 (3797, 0.41236026566226797),
 (3070, 0.41231301389493835),
 (3733, 0.41231301389493835),
 (5411, 0.41231301389493835),
 (1945, 0.4122831185930265),
 (1486, 0.41219042937791506),
 (3867, 0.41197806259965386),
 (2011, 0.4119606791922917),
 (3468, 0.4118995831127814),
 (1693, 0.41189958311278135),
 (1936, 0.41189958311278135),
 (1364, 0.4112473268316498),
 (3755, 0.4112473268316498),
 (1910, 0.41122272761002504),
 (5132, 0.4111452834363913),
 (1696, 0.4107277469313998),
 (724, 0.4106173214026044),
 (483, 0.41046520006057946),
 (5353, 0.4104363472871042),
 (222, 0.41042936131487684),
 (1295, 0.4104293613148768),
 (1922, 0.4103472672323845),
 (3057, 0.41034726723238446),
 (3243, 0.41034726723238446),
 (4937, 0.41034726723238446),
 (5293, 0.41034726723238446),
 (2466, 0.4103472672323844),
 (506, 0.41026180492442177),
 (3471, 0.41018462463097677),
 (5452, 0.41018462463097677),
 (3470, 0.40989839132712824),
 (1697, 0.4097919591180311),
 (1876, 0.4097791156726351),
 (5617, 0.4096980298693358),
 (5021, 0.4096380483914167),
 (3917, 0.40953717355819264),
 (5568, 0.40953717355819264),
 (2273, 0.4093778281558089),
 (4854, 0.40934611351814265),
 (473, 0.4089885955191192),
 (2665, 0.4086689482678499),
 (3452, 0.4086689482678499),
 (5619, 0.4086689482678499),
 (4921, 0.408563194855315),
 (107, 0.40846060313666),
 (2367, 0.40846060313665994),
 (2403, 0.40846060313665994),
 (54, 0.4082078197534327),
 (1596, 0.4082078197534327),
 (2449, 0.4082078197534327),
 (396, 0.4081845166150847),
 (4963, 0.40782719876803564),
 (3924, 0.4078271987680356),
 (3336, 0.40777283268117565),
 (3302, 0.4077728326811756),
 (2166, 0.40763867481188215),
 (4998, 0.40762675607513377),
 (1920, 0.4075839545384883),
 (1093, 0.40753846491749696),
 (769, 0.40734541809333014),
 (2362, 0.40734541809333),
 (4069, 0.40728451429774676),
 (5130, 0.4072051892384191),
 (4321, 0.40713052783664927),
 (3151, 0.4070440155969429),
 (2280, 0.40704401559694287),
 (2838, 0.40704401559694287),
 (2970, 0.40704401559694287),
 (3815, 0.40704401559694287),
 (5270, 0.4067021560763592),
 (532, 0.4066408020105127),
 (3596, 0.406599725107331),
 (3129, 0.40652288494315486),
 (108, 0.4065228849431548),
 (700, 0.406325067701728),
 (637, 0.4062593226149841),
 (2864, 0.40613846605344767),
 (5475, 0.40613846605344767),
 (5673, 0.40613846605344767),
 (913, 0.4061384660534476),
 (4864, 0.40573072564769735),
 (4841, 0.40563336338624045),
 (487, 0.4055930520400137),
 (4280, 0.40558019985684357),
 (1490, 0.4054383130239024),
 (1797, 0.40541601342204514),
 (2304, 0.40516722879381895),
 (4024, 0.40516099540388795),
 (5252, 0.40499171986050436),
 (3023, 0.4049830199964849),
 (3287, 0.4049830199964849),
 (3871, 0.4049830199964849),
 (2270, 0.4048890569912096),
 (3646, 0.40448588339741226),
 (2897, 0.40447053922784265),
 (4803, 0.40435459708162225),
 (2385, 0.40433846399310885),
 (1372, 0.4042024868565198),
 (5280, 0.4041228780980176),
 (5359, 0.4040467518926641),
 (3263, 0.40385146422247775),
 (1628, 0.4038514642224777),
 (3649, 0.40383381854615613),
 (5367, 0.40375640171843574),
 (2562, 0.4036544154358153),
 (1894, 0.4036357805425759),
 (3117, 0.4035416997267317),
 (4133, 0.40345765480241574),
 (763, 0.4034576548024157),
 (5357, 0.40334710331251944),
 (1510, 0.4033471033125194),
 (1661, 0.40334710331251933),
 (456, 0.40331834179793175),
 (2766, 0.40312741793263673),
 (3313, 0.4030054406101726),
 (3578, 0.4030054406101726),
 (2323, 0.40300221474726106),
 (4300, 0.403002214747261),
 (1879, 0.40282299454188386),
 (1976, 0.40282299454188386),
 (2392, 0.40276917981051824),
 (3250, 0.40276917981051824),
 (3819, 0.40276917981051824),
 (1213, 0.40261094315602663),
 (4909, 0.4024445966073739),
 (4372, 0.4023786005706541),
 (4064, 0.4023647860767712),
 (202, 0.4023183068287719),
 (3778, 0.4022831030967637),
 (3964, 0.4022831030967637),
 (5067, 0.40228310309676363),
 (1340, 0.40225913835453625),
 (749, 0.40225719030707563),
 (807, 0.40225719030707546),
 (3022, 0.4020618556701032),
 (3144, 0.4020618556701032),
 (709, 0.4020565688259334),
 (881, 0.4020565688259334),
 (1304, 0.4020565688259333),
 (811, 0.40198058723802527),
 (29, 0.40188559005195623),
 (955, 0.40188559005195623),
 (3320, 0.4018855900519561),
 (2772, 0.4013508119174598),
 (3368, 0.4013508119174598),
 (2779, 0.40130742029487587),
 (1258, 0.4013074202948758),
 (2439, 0.4013074202948758),
 (4664, 0.4013074202948758),
 (2128, 0.40121539361734193),
 (3683, 0.4012153936173419),
 (2348, 0.4011954202312129),
 (3678, 0.4011954202312129),
 (5417, 0.4011954202312129),
 (3120, 0.40110100478140814),
 (2112, 0.40091273558689033),
 (3668, 0.40073287342638597),
 (4535, 0.40070621033886666),
 (4774, 0.4006962249400112),
 (1771, 0.40069622494001117),
 (3401, 0.40069622494001117),
 (2170, 0.40063143018824426),
 (252, 0.400577094203042),
 (2828, 0.40057709420304194),
 (2811, 0.40049999072566195),
 (2813, 0.40049999072566195),
 (3349, 0.40049999072566195),
 (1840, 0.4004783590320695),
 (785, 0.4004741800475076),
 (3793, 0.40047418004750757),
 (2749, 0.4004679997791375),
 (4236, 0.4003278881047095),
 (1412, 0.40025994867032716),
 (290, 0.4002295105227791),
 (647, 0.4002295105227791),
 (3308, 0.40018012159119687),
 (3283, 0.4001801215911968),
 (1283, 0.399964449184483),
 (4463, 0.399964449184483),
 (660, 0.39996444918448293),
 (5217, 0.39993751464462385),
 (2242, 0.39987934131051506),
 (1719, 0.399879341310515),
 (1912, 0.399879341310515),
 (3094, 0.399879341310515),
 (3437, 0.399879341310515),
 (3610, 0.399879341310515),
 (2662, 0.39982378997521506),
 (5051, 0.39982378997521506),
 (4128, 0.39977189562370635),
 (77, 0.3997421849554907),
 (762, 0.39961737602755215),
 (1991, 0.39951185236076603),
 (2150, 0.39926591464994765),
 (2282, 0.39906530545263474),
 (1234, 0.39893868226376755),
 (4876, 0.398820056426395),
 (5556, 0.39873535068102517),
 (4797, 0.3986230595971734),
 (4457, 0.39862305959717337),
 (1241, 0.3985783569525943),
 (2896, 0.3984260821561478),
 (2910, 0.3982179695302629),
 (1859, 0.3979799036997076),
 (4452, 0.3979799036997076),
 (580, 0.3979548506699575),
 (5579, 0.39764808781435534),
 (1547, 0.3976402470980527),
 (210, 0.39758722486338827),
 (2284, 0.3974032844302896),
 (3991, 0.39732036985992786),
 (934, 0.3973203698599278),
 (427, 0.3971548297111425),
 (1287, 0.39715482971114247),
 (4708, 0.39703682203368645),
 (1789, 0.39694168583577466),
 (1623, 0.39690804637041477),
 (669, 0.3965604345219049),
 (4211, 0.3965604345219049),
 (4303, 0.3965604345219049),
 (4461, 0.3965569375008904),
 (2474, 0.3965511254822548),
 (5587, 0.3964671152043352),
 (634, 0.39646711520433514),
 (1243, 0.39642857273448234),
 (458, 0.3963967246868122),
 (1513, 0.39618755203745),
 (109, 0.39599946775856026),
 (1225, 0.39599185553154265),
 (4684, 0.39599185553154265),
 (439, 0.39598500440211143),
 (3945, 0.39580535843965275),
 (1445, 0.3956920076883708),
 (15, 0.39569200768837076),
 (3966, 0.3953061548343494),
 (219, 0.3952780269726644),
 (1119, 0.3952229587574869),
 (5135, 0.3952229587574869),
 (5101, 0.3951268117482169),
 (5009, 0.39512681174821684),
 (4978, 0.39509402379957576),
 (4793, 0.39494403866017513),
 (1057, 0.3948769872397561),
 (2399, 0.39487698723975606),
 (664, 0.394876987239756),
 (732, 0.3947064718923231),
 (3707, 0.39470647189232305),
 (831, 0.3946307846582239),
 (5316, 0.39455872429290606),
 (3174, 0.3943851279650453),
 (4568, 0.3941932170518757),
 (699, 0.39415533389220414),
 (4598, 0.39415533389220414),
 (4674, 0.39415533389220414),
 (5643, 0.39415533389220414),
 (4936, 0.3941553338922041),
 (2500, 0.3940198061455672),
 (2526, 0.39401218686228173),
 (3982, 0.39401218686228173),
 (5663, 0.39401218686228173),
 (5671, 0.39401218686228173),
 (468, 0.3940121868622817),
 (2717, 0.3940121868622817),
 (536, 0.3938176359053291),
 (2559, 0.3936470740626142),
 (3637, 0.39359839918208306),
 (1953, 0.39347588174371145),
 (2196, 0.39347588174371145),
 (1363, 0.3934758817437114),
 (4828, 0.39344663898927745),
 (362, 0.3934466389892774),
 (759, 0.3934466389892774),
 (2578, 0.3934466389892774),
 (3989, 0.3934466389892774),
 (4580, 0.39344663898927734),
 (3145, 0.3934120765680139),
 (882, 0.39341207656801386),
 (1224, 0.3933588976823349),
 (2769, 0.3933045918221707),
 (674, 0.3932418788198073),
 (2090, 0.3932418788198073),
 (4788, 0.3929172878616325),
 (614, 0.3927308430238926),
 (585, 0.3925748013610119),
 (2704, 0.3925748013610119),
 (5032, 0.39247416832328325),
 (5652, 0.39245347958720467),
 (844, 0.3924417927848205),
 (5066, 0.39216302389582103),
 (5516, 0.39216302389582103),
 (4248, 0.39210039055161705),
 (5629, 0.39210039055161705),
 (1054, 0.3920835791643582),
 (508, 0.39207734249868537),
 (3338, 0.39188352630212586),
 (2675, 0.3918276984613552),
 (2063, 0.3918276984613551),
 (2856, 0.3917934691881476),
 (2760, 0.39167828662820203),
 (4202, 0.391678286628202),
 (5473, 0.3916335208372531),